<section>
    <article>
      <h3>Two Way Data binding</h3>
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
        />
  
      <input type="text"
        [(ngModel)]="nome"
      />
      <p>Você digitou: {{ nome }}</p>
    </article>
    <article>
      <h3>Two way com Object</h3>
      <input type="text"
        [(ngModel)]="pessoa.nome">
       <input type="text"
        [(ngModel)]="pessoa.idade">
      
      <p>Nome pessoa: {{ pessoa.nome }}</p>      
      <p>Idade pessoa: {{ pessoa.idade }}</p>
    </article>
  
  </section>
  