<section>
  <article>
    <h3>Interpolação</h3>
    <p>{{ interpolation }}</p>
    <p>Resultado de 1 + 3 é: {{ 1 + 3 }}</p>
    <p>Get Valor {{ getValor() }}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img [src]="urlImage" />
  </article>

  <article>
    <h3>Class n Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #selectAlert (change)="0" style="display: block;">
        <option value="success" selected>Sucesso</option>
        <option value="info">INfo</option>
        <option value="warning">Alerta</option>
        <option value="danger">Erro</option>
      </select>
    </div>

    <div class="alert" role="alert" [class.alert-success]="selectAlert.value == 'success'">
        This is a success alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-info]="selectAlert.value == 'info'">
        This is a danger alert—check it out!
      </div>
      <div class="alert" role="alert" [class.alert-warning]="selectAlert.value == 'warning'">
        This is a warning alert—check it out!
      </div>
      <div class="alert" role="alert" 
        [class.alert-danger]="selectAlert.value == 'danger'"
        [style.display]="selectAlert.value == 'danger' ? 'block' : 'none'">
        This is a info alert—check it out!
      </div>
  </article>
  <article>
    <h3>Event Binding</h3>
    <button class="btn btn-primary" (click)="btnClick()"
    >Me clique</button>
    <input 
      #campoInput
      (keyup)="onKeyUp($event)" 
      (keyup.enter)="salvarValor(campoInput.value)"
      type="text">  
    <p>Valor Atual:  {{ valorAtual }}</p>

    <p
      (mouseover)="mouseOverOut()"
      (mouseout)="mouseOverOut()"
      [class.changeText]="isMouseOver == true"
      >Passe o mouse AQUI!!!</p>
      {{ isMouseOver }}
  </article>
</section>

<app-meu-form></app-meu-form>

<section>
  <article>
    <h3>Input Output Properties</h3>
    <app-curso [nome]="nomeDoCurso"></app-curso>

    <app-output-property 
      [valor]="valorInicial"
      (mudouValor)="onMudouValor($event)"></app-output-property>
  </article>
</section>

